:root {
  --blue: #0000ff;
  --light-blue: #00ffff;
  --white: white; 
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--blue);
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header a {
  color: var(--white);
}

.header-navigation {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  padding: 0 18px;
  margin: 0;
}

.logo img {
  width: 25%;
  object-fit: cover;
  border: 1px solid black;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 38px;
  padding: 25px 15px;
}


.menu-link {
  padding: 15px 10px;
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 1s;
}

.menu-link:hover {
  background-color: var(--light-blue);
}

.inner {
  padding: 70px 0;
}

.intro-inner {
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.inner-images {
  width: 370px;
  border-radius: 50%;
}

.inner-text {
  flex-wrap: wrap;
  font-family: cursive;
  font-size: 20px;
}



.contacts {
  padding: 30px 0;
  
}

.contacts a {
  color: var(--white);
}

.inner-contacts {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 78px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 20px;
}


.inner-contacts ul {
  font-family: cursive;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 46px;
  text-align: center;
  color: var(--white);
}

.education {
  padding: 75px 0;
}

.inner-education {
  padding: 20px 78px;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
}

.inner-education {
  
  font-size: 20px;
}

.inner-education p {
  font-family: cursive;
}


.text-education {
  padding: 13px 60px;
  background-color: var(--light-blue);
  border-radius: 30%;
}

.skills {
  margin: 30px 0;
}

.skills ul {
  color: var(--white);
}

.inner-skills {
  background-color: var(--blue);
  color: var(--white);
  flex-wrap: wrap;
  font-size: 20px;
  font-family: cursive;
}

.inner-skills ul {
  display: flex;
  justify-content: center;
  gap: 38px;
  padding: 15px 0;
  list-style: none;
}

.text-skills {
  text-align: center;
  font-size: 25px;
  background-color: var(--light-blue);
  border-radius: 46%;
}

.languageskills {
  padding: 40px 0;
}

.inner-languageskills {
  padding: 39px 0;
  background-color: var(--blue);
  color: var(--white);
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  font-family: cursive;
}

.inner-languageskills ul {
  list-style: none; 
  font-size: 25px; 
}

.text-language {
  text-align: center;
  font-size: 20px;
  font-family: cursive;
  border: 1px solid black;
  margin: 30px 30px;
  padding: 28px 100px;
  border-radius: 46%;
  background-color: var(--light-blue);
}