:root {
  --blue: #0000ff;
  --light-blue: #00ffff;
  --white: white; 
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--blue);
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header a {
  color: var(--white);
}

.header-navigation {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  padding: 0 18px;
  margin: 0;
}

.logo img {
  width: 25%;
  object-fit: cover;
  border: 1px solid black;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 38px;
  padding: 25px 15px;
}


.menu-link {
  padding: 15px 10px;
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 1s;
}

.menu-link:hover {
  background-color: var(--light-blue);
}